# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# База данных
*.db

# Медиа
streams/
recordings/
*.mp4
*.ts
*.m3u8
*.m3u8.tmp

# Конфиги с паролями
config.json

# Виртуальное окружение
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini

# Логи
*.log